<h1>Create A New Employee:</h1>
<%= form_with model:Employee.new do |form| %>
  <div>
    <p>First Name: </p><%= form.text_field :first_name %></p>
  </div>
  <div>
    <p>Last Name: </p><%= form.text_field :last_name %></p>
  </div>
  <div>
    <p>Alias: </p><%= form.text_field :alias %></p>
  </div>
  <div>
    <p>Title: </p><%= form.text_field :title %></p>
  </div>
  <div>
    <p>Office: <%= form.text_field :office %></p>
  </div>
  <div>
    <p>Image: <%= form.url_field :img_url %></p>
  </div>
  <div>
    <p>Dog: <%= form.number_field :dog %></p>
  </div>
  <%= form.submit %>
<% end %>
