<%= form_with model:@employee do |f| %>
<div>
<label>First Name</label>
<%= f.text_field :first_name %>
</div>

<div>
<label>Last Name</label>
<%= f.text_field :last_name %>
</div>

<div>
<label>Title</label>
<%= f.text_field :title %>
</div>

<div>
<label>Alias</label>
<%= f.text_field :alias %>
</div>

<div>
<label>Image</label>
<%= f.text_field :img_url %>
</div>

<div>
<label>Office</label>
<%= f.text_field :office %>
</div>
<div>
<label>Dog</label>
<%= f.select :dog_id, @dog_options %>
</div>

<%= f.submit%>
<% end %>