<%= link_to "All Employees", employees_path %>
<%= link_to "All Dogs", dogs_path %>
  
<h1>All Employees</h1>
<table>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= link_to employee.to_s, employee %></td>
      <td><button><%= link_to "Edit", employee %></button></td>
      <td><button><%= link_to "Delete", employee %></button></td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "Create A New Employee", new_employee_path %>