<ul>
  <% @employees.each do |employee| %>
    <li><%= link_to employee.first_name, employee %></li>
    <li><%= link_to employee.last_name, employee %></li>
    <li><%= link_to employee.alias, employee %></li>
    <li><%= link_to employee.title, employee %></li>
    <li><%= link_to employee.office, employee %></li>
    <li><%= link_to employee.dog_id, employee %></li>
    <li><%= link_to employee.img_url, employee %></li>
    <% end %>
</ul>
