<h1>Create a new employee</h1>

<%=[:first_name] = params[:employee][:first_name] %>
<%=[:last_name] = params[:employee][:last_name]%>
<%=[:alias] = params[:employee][:alias] %>
<%=[:title] = params[:employee][:title] %>
<%=[:office] = params[:employee][:office] %>

<button type="button" name="Create"></button>
