<div>
<h3><%= @employee.first_name %></h3>
<h3><%= @employee.last_name %></h3><br>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= link_to @employee.dog_id, dog_path %></p>
<p><%= @employee.img_url %></p>
</div>
