<h1><%= @employee.to_s %></h1>
<h4>Alias: <%= @employee.alias %></h4>
<h4>Title: <%= @employee.title %></h4>
<h4>Office: <%= @employee.office %></h4>
<!-- <h4>img_url: <%= @employee.img_url %></h4> -->
<img src="<%= @employee.img_url %>" alt="Employee_img_url">

<h4>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %></h4>
