<img src= <%= @employee.img_url %>>
<div><%= @employee.first_name+" "+@employee.last_name %></div>
<div><strong>Alias: </strong> <%= @employee.alias %></div>
<div><strong>Office:  </strong><%= @employee.office %></div>
<div><strong>Dog:  </strong><%= @employee.dog.name %></div>
