<h1>Employees#show</h1>
<p>Find me in app/views/employees/show.html.erb</p>

<ul>
  <label>Name: <%=@employee.first_name%> <%=@employee.last_name %></label>
  <ul>

    <li>Alias: <%= @employee.alias%></li>
    <li>Title: <%= @employee.title%></li>
    <li>Office: <%= @employee.office%></li>
    <li>Dog: <%= link_to @employee.dog.name, dog_path%></li>
  </ul>
</ul>
