<h1>Employee: <%= @employee.first_name %> <%= @employee.last_name %></h1>

<ul>
	<li>Alias: <%= @employee.alias %></li>
	<li>Title: <%= @employee.title %></li>
	<li>Office: <%= @employee.office %></li>
	<li>Image: <%= @employee.img_url %></li>
	<li>Dog: <%= @employee.dog_id %></li>
		<!-- link_to "Show", employee.dog_id  -->
</ul>