<h1><%= @employee.first_name + ' ' + @employee.last_name %></h1>
<ul><%= 'AKA ' + @employee.alias %></ul>
<ul><%= @employee.title + ' at the ' + @employee.office + ' office' %></ul>
<!-- <ul><html>img src=<%= @employee.img_url %></html></ul> -->
<ul><%= @employee.dog_id %></ul>
